/* .heading {
  color: #f15025;
}
.text {
  color: #32ff0e;
}
.main-text {
  color: #1313fa;
}
.second-heading {
  color: #f15000;
} */
:root {
  --primaryColor: #f15025;
  --secondaryColor: #1313fa;
  --mainTranstion: all 0.4s linear;
}
.heading {
  color: var(--primaryColor);
}
.second-heading {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}
.second-heading:hover {
  color: var(--secondaryColor);
}
div {
  --praimaryRed: red;
}
.main-text {
  color: var(--praimaryRed);
}
.third-heading {
  color: var(--primaryRed);
}
