/* body { 
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}*/
h1 {
  font-family: "Sacramento", cursive;
  text-align: center;
}
p {
}
.one {
  font-style: oblique;
  text-indent: 100px;
  letter-spacing: 10px;
  text-decoration: line-through;
}
.subheading {
  text-align: center;
}
.main {
  text-align: center;
  word-spacing: 10px;
  text-transform: uppercase;
}
body {
  text-align: center;
  text-transform: capitalize;
}
.two {
  text-indent: 100px;
  text-decoration: uppercase;
  line-height: 50px;
}
